<div class="container">
  <ul>
  <% @articles.each do |a| %>
    <li class="title-text"><%= link_to a.title, article_path(a) %></li>
    <li class="long-text"><%= a.content %></li>
  <% end %>
  </ul>
</div>

